<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Classifier</title>
</head>
<body>
    <h1>Welcome to the Image classification WebApp</h1>
    <p>Upload an Image</p>


    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
    <input type="file" name="upload" accept=".jpeg, .jpg, .png">
    <input type="submit" value="Predict Image">
    </form>

    <br>
    <br>
    <br>
    {% comment %} <p></p>{{file_url}}<p></p> {% endcomment %}

  

  {% comment %} {% for i in pred %}
  
  <p>{{pred[i]}}</p>

  {% endfor %} {% endcomment %}
  

  {% comment %} {% for i in prediction  %}
  {{i}}
  {% endfor %} {% endcomment %}
 
{% comment %} <p>{{pred[0]}}</p> {% endcomment %}


{% for key , value in pred.items %}
<p>{{key}}: {{value}}%</p>

{% endfor %}

{% for key, value in pred.items %}
    {% if value.0 > value.1 %}
        <p>Result : {{key}}</p>
    {% elif value.1 > value.0 %}
        <p>Result: {{key}}</p>
{% endif %}
{% endfor %}

{% comment %} {{pred}}     {% endcomment %}
        

    
</body>
</html>